body {

	margin:0;
	background:rgb(238, 238, 243);
	min-width: 320px;

}

header {

   width: 100%;
   height: 150px;
   position: relative;
}


.header__logo_img{

	position: absolute;
	top:55px;
	left:170px;

}

.welcom__user {

	position: absolute;
	top:0;
	right: 275px;
	width: 200px;
	height: 90px;
    background: linear-gradient(45deg, #fd6a69, #fe764a);
	color:white;

}

.welcom__user_text {

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}


.login__logout {

	position: absolute;
	top:0;
	right: 170px;
	width: 115px;
	height: 70px;
	color:white;
    background: linear-gradient(45deg, #ba6be1, #7b47e3);

}

.login__logout_text {

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-10%, -50%);
    font-size: 12px;

}

main {

	width: 100%;
	height: 1300px;
	position: relative;

}

.sidebar__left {

	width: 320px;
	height: 435px;
	background: white;
	border-radius: 10px;
	position: absolute;
    top:0;
    left:175px;
   




}

.sidebar__left_contents {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}

.sidebar__left_img {

	margin-top: 40px;

}

.sidebar__left_name_company {
	
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 600;
}

.sidebar__left_name_service {

	margin-top: 0;
	font-size: 14px;

}

.sidebar__left_contents a {

    font-size: 16px;
	font-weight: 600;
	color:rgb(171, 123, 255);

}

.sidebar__left_button  {
    
    height: 50px;
	margin-top: 30px;
	margin-bottom:30px;
	padding: 10px;
	text-align:center;
    font-size: 16px;
    color:white;
	font-weight: 600;
	background: linear-gradient(45deg, #fd6a69, #fe754b);
	border-radius: 20px;
	border-style: none;

}


.sidebar__left_footer_icon {
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


i {

	color:rgb(176, 174, 204);
	font-size: 20px;
}

.sidebar__left_2 {

	width: 320px;
	height: 300px;
	background: white;
	border-radius: 10px;
	position: absolute;
    top:455px;
    left:0;

}

.sidebar__left_2 table {

 margin:20px;
 width: 100%;

}

.sidebar__left_2 table span{
font-size: 14px;
 color:black;

}

.sidebar__left_2 table td{

 color:rgb(176, 174, 204);
 padding: 5px;
 font-size: 14px;

}


.sidebar__left_2_name_table {

text-align: left;
font-weight: 600;
font-size: 25px;
padding-bottom: 10px;

}




.main__content {

	width: 665px;
	/*height: auto; /**/
	background:rgb(238, 238, 243);
	position: absolute;
	top:0;
	right:170px;


}

.main__content_price {

	width: 665px;
	height: 165px;
	border-radius: 10px;
	position: absolute;
	top:0;
	right:0;
    background: linear-gradient(to right, #7b47e3, #bb6be1);
}

.main__content_price table {
	 
    border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	max-width: 630px;
	width: 100%;
	color:white;
	margin:35px 0 35px 35px;
}


.main__content_price table th {
   
   text-align: left;

  
}

.main__content_price_tr_margin {

	padding-top:20px;

}

.main__content_text {

	width: 665px;
	height: 200px;
	background: white;
	border-radius: 10px;
	position: absolute;
	top:185px;
	right:0;
    
}

.main__content_text p{

padding: 20px;
font-size: 18px;
    
}

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	top:405px;
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
	height: 240px;
}
.tabs li {

	float: left;
}



.tabs li > input {

	display: none;
}

.tabs li > label {

	display: inline-block;
	border-radius: 5px 5px 0 0;
	height: 30px;
	line-height: 30px;
	padding: 5px 20px;
	cursor: pointer;
	font-weight: 600;
	color:rgb(127, 125, 155);

}


.tabs label.BitconTalk {

color:black;

}

.tabs li:last-child > label {
	border-right-width: 1px;
	
}

.tabs .tab-content {
	display: none;
	width: 100%;
	position: absolute;
	left: 0;
	padding: 20px;
	border-radius: 0 10px 10px 10px;
	background-color: white;
	height: 700px;
	overflow-y: auto;
}

.tabs i {

	position: relative;
	top:5px;
	padding: 5px;
}
 
/* Функциональность: */
 
.tabs li > input:checked + label {
	background-color: white;
}
.tabs li > input:checked ~ .tab-content {
	display: block;
}

.bt {

	color:white;
	width: 50px;
	height: 50px;
	background: linear-gradient(to right, #804ae3, #b96ae1);
	border-radius:10px;
 	position: relative;
 	

}

.bt p {

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -130%);
    font-weight: 600;

}

p.BitcoinTalk__Bounty {
	
	color:rgb(177, 134, 255);
	font-weight: 600;
    position: absolute;
    top:10px;
    left:80px;

}

p.Pool {
	
	color:rgb(176, 174, 204);
    position: absolute;
    top:30px;
    left:80px;

}

p.All__users {

	font-size: 14px;
	color:rgb(176, 174, 204);
	position: absolute;
    top:80px;
    left:20px;

}

p.All__stakers {

	font-size: 14px;
	color:rgb(176, 174, 204);
	position: absolute;
    top:80px;
    left:85px;

}

p.All__users_number {

	 font-weight: 600;
	color:rgb(177, 134, 255);
	position: absolute;
    top:100px;
    left:20px;

}

p.All__stakers_number {

	  font-weight: 600;
	color:rgb(177, 134, 255);
	position: absolute;
    top:100px;
    left:85px;

}

div.buttom__description {

	width: 120px;
	height: 50px;
	border:1px solid gray;
	border-radius: 25px 0 0 25px;
	text-align: center;
	background:rgb(238, 238, 244);
	color:rgb(127, 125, 155);
	position: absolute;
	top:20px;
	right: 170px;
	border-right-style: none;

}

div.buttom__request {

	width: 100px;
	height: 52px;
	border-radius: 0 25px 25px 0;
	text-align: center;
	background:rgb(254, 115, 79);
	color:white;
	position: absolute;
	top:20px;
	right: 70px;

}


table.Main__table {

	width: 100%;
	position: relative;
	top:90px;
	border-collapse: collapse;
	

}

 table.Main__table tr {

	border-bottom-style: solid;
	border-color: black;

	

}


 table.Main__table tr.table__border_tr {

	border-bottom-style:solid;
	border-width: 1px;
	border-color:gray;

	
	

}


.REQUEST__style {

	font-weight: 600;
	padding: 2px;
}

.Status__style, .Value__style {

	color:rgb(176, 174, 204);
	padding: 2px;

}

.Value__style {

	text-align: center;
}


.data {

color:rgb(176, 174, 204);
font-size: 14px;
padding: 2px;

}

.data__text {

	font-size: 16px;
	padding: 2px;
}

.data__text_open {

	color:rgb(171, 123, 255);
	padding: 2px;
}

.Approve__style {

	color:rgb(171, 123, 255);

}

.Approve__style_1 {

	color:red;
}

.Approve__style_50 {

	
	text-align:center;
	
}


footer div {

	margin-left: 170px;
	margin-bottom:100px;

	
}

footer div .fa-twitter, .fa-medium-m{

	padding-left: 30px;

	
}

footer div a {

	padding-left: 70px;
	color:rgb(176, 174, 204);

}

footer div span {

	padding-left: 570px;
	color:rgb(176, 174, 204);

}



@media screen and ( max-width: 320px) {

.header__logo_img{

	position: absolute;
	top:15px;
	left:80px;

}


.welcom__user {

	position: absolute;
	top:50px;
	left: 0;
	width:100%;
	height: 50px;
    background: linear-gradient(45deg, #fd6a69, #fe764a);
	color:white;

}

.welcom__user_text {

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -110%);
    font-size: 12px;
}


.login__logout {

	position: absolute;
	top:100px;
	left:0;
	width: 100%;
	height:50px;
	color:white;
    background: linear-gradient(45deg, #ba6be1, #7b47e3);

}

.login__logout_text {

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -110%);
    font-size: 12px;

}

.sidebar__left {

	width: 100%;
	height: 435px;
	background: white;
	border-radius: 10px;
	position: absolute;
    top:0;
    left:0;
    float:left;
    z-index: 5;
 
}

main {

	width: 320px;
	height: 2000px;
	position: relative;

}

.main__content {

	width: 320px;
	/*height: auto; /**/
	background:rgb(238, 238, 243);
	position: absolute;
	top:0;
	left:0;

}

.main__content_price {

	width: 320px;
	height: 165px;
	border-radius: 10px;
	position: absolute;
	top:775px;
	left:0;
    background: linear-gradient(to right, #7b47e3, #bb6be1);
}

.main__content_price table {
	 
    border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	max-width: 630px;
	width: 100%;
	color:white;
	margin:5px;
}


.main__content_price table th {
   
   text-align: left;
   font-size: 14px;

  
}

.main__content_price_tr_margin {

	padding-top:5px;

}

.main__content_text {

	width: 320px;
	height: 200px;
	background: white;
	border-radius: 10px;
	position: absolute;
	top:960px;
	left:0;
    
}

.main__content_text p{

padding: 5px;
font-size: 14px;
    
}

.tabs {

	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	top:1180px;
	width: 320px;
}

.tabs li > label {

	display: inline-block;
	border-radius: 5px 5px 0 0;
	height: 30px;
	line-height: 30px;
	padding: 5px 5px;
	cursor: pointer;
	font-weight: 600;
	color:rgb(127, 125, 155);

}

.tabs i {

	position: relative;
	top:10px;
	padding: 1px;
}


div.buttom__description {

	display: none;

}

div.buttom__request {

	display: none;


}

table.Main__table {

	
	position: relative;
	top:90px;
	text-align: 12px;
	border-collapse: collapse;
  
	

}

 table.Main__table tr {

	border-bottom-style: solid;
	border-color: black;


	

}


 table.Main__table tr.table__border_tr {

	border-bottom-style:solid;
	border-width: 1px;
	border-color:gray;


}


footer div {

	margin-left: 5px;
	margin-bottom:20px;
	margin-top: 150px;

	
}

footer div .fa-twitter, .fa-medium-m{

	padding-left: 5px;

	
}

footer div a {

	padding-left: 50px;
	color:rgb(176, 174, 204);

}

footer div span {

	padding-left: 125px;
	color:rgb(176, 174, 204);

}

.tabs .tab-content {
	display: none;
	width: 320px;
	position: absolute;
	left: 0;
	padding: 0;
	border-radius: 0 10px 10px 10px;
	background-color: white;
	height: 870px;
	overflow-y: none;
}


    }